<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>My first website</title>
        <link rel="stylesheet" href="style.css">
      
      <style>
		h1 {
           background-color: gray;
			}
        h2 {
           font-size:36px;
           color:blue;
			}
	  </style>
      
    </head>
    <body>
      <h1>Witaj na mojej pierwszej stronie</h1>
            
      <img src="https://cdn.create.vista.com/api/media/medium/154667418/stock-photo-grey-haired-scientist-holding-flask?token=" alt="Tu powinien być mój avatar" title="Naukowiec" width=250 height=200>
      <h2>O mnie</h2>
      <p><strong>imię:</strong> Adrian</p>
      <p><strong>nazwisko:</strong> Kula</p>

    </body>
</html>